{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link href="{{ asset('bundles/gibzblog/css/bootstrap.min.css') }}" rel="stylesheet"/>
    <link href="{{ asset('bundles/gibzblog/css/custom.css') }}" rel="stylesheet"/>
{% endblock %}

{% block title %}Gibz blog{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="{{ asset('bundles/gibzblog/js/bootstrap.min.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="{{ path('blog_index') }}">{% block apptitle %}Gibz blog{% endblock %}</a>
                <ul class="nav pull-right">
                    <li><a href="{{ path('blog_index') }}" class="active">Blog</a></li>
                    {% block nav %}
                        {{ parent() }}
                    {% endblock %}
                </ul>
            </div>
        </div>
    </div>
    <div class="container with-navbar">
        <div class="row">
            <div class="span12">
                <ul class="breadcrumb">
                    {% block path %}
                        <li><a href="{{ path('gibz_index') }}">Index</a></li>
                    {% endblock %}
                </ul>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="span12">
                {% block content %}
                {% endblock %}
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
{% endblock %}