{% extends 'GibzBlogBundle:Blog:index.html.twig' %}

{% block nav %}
    {{ parent() }}
    <li><a href="{{ path('blog_add') }}">Add entry</a></li>
{% endblock %}

{% block title %}Add entry{% endblock %}

{% block path %}
    {{ parent() }}
    <li><span class="divider">/</span></li>
    <li><a href="{{ path('blog_add') }}">Add entry</a></li>
{% endblock %}

{% block content %}
    <div class="well">
        <h2>Add entry</h2>

        {{ form(form) }}
    </div>
{% endblock %}


