{% extends 'GibzBlogBundle:Blog:index.html.twig' %}

{% block title %}{{ parent() }} -{% endblock %}

{% block path %}
    {{ parent() }}
    <li><span class="divider">/</span></li>
    <li><a href="{{ path('blog_entry', {'id' : entry.id}) }}">{{ entry.name }}</a></li>
{% endblock %}

{% block content %}
    <div class="well">
        <h2>{{ entry.name }}<small class="pull-right muted">{{ entry.createdAt|date('d.m.Y h:i:s') }}</small></h2>
        <p>{{ entry.text }}</p>
    </div>
{% endblock %}