{% extends 'GibzBlogBundle::layout.html.twig' %}

{% block title %}{{ parent() }} - My cool blog posts{% endblock %}

{% block path %}
    {{ parent() }}
    <li><span class="divider">/</span></li>
    <li><a href="{{ path('blog_index') }}">Blog</a></li>
{% endblock %}

{% block content %}
    {% for entry in entries %}
        <div class="well">
            <h2>
                <a href="{{ path('blog_entry', {'id' : entry.id}) }}">{{ entry.name }}</a>
                <small class="pull-right muted">{{ entry.createdAt|date('d.m.Y h:i:s') }}</small>
            </h2>

            <p>{{ entry.text }}</p>
        </div>
    {% endfor %}
{% endblock %}